html,
body {
    margin: 10px;
    background: paleturquoise;
}

table {
    background-color: black;
    margin-left: auto;
    margin-right: auto;
}

td {
    background-color: white;
}

th,
td {
    padding: 0.5em 0.5em;
}